<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <form action="/airlines/{{airline.id}}/update/" method="post" > 
            <section>
                <label for="name"> Airline name: </label>
                <input type="text" name="name">
            </section>
            <section>
                <label for="locations"> Number of Locations: </label>
                <input type="number" name="locations">
            </section>
            <section>
                <label for="workers"> Number of workers: </label>
                <input type="number" name="workers">
            </section>
            <section>
                <label for="planes"> Number of planes: </label>
                <input type="number" name="planes">
            </section>
            <button> Add Airline</button>
        </form>
    </main>
</body>
</html>