<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{display_airline.name}}</title>
</head>
<body>
    <header>
            {% for airline in airlines: %}
                {% if flight.airline_id == airline.id %}
                <h1> {{airline.name}} Flight # {{flight.number}} </h1>
                {% endif %}
            {% endfor %}
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h2>Flight#: {{flight.flightNumber}} </h2>
        <h2>Starting City: {{flight.departureAirport}} </h2>
        <h2>Destination: {{flight.arrivallAirport}} </h2>
        <h2>Airline: {{flight.arrivallAirport}} </h2>
    </main>
</body>
</html>